<div class="row">
    <div class="col-md-3 col-md-offset-1 myinfoform"><br/>
        <h2>My Info</h2><br/>
        <div class="row">
            <div class="col-md-4 col-md-offset-4 myimg"></div>
        </div><br/>
        <div class="row">
            <div class="col-md-6">
                <p>Name:</p>
            </div>
            <div class="col-md-6">
                <p ng-model="user.email">{{user.email}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>Email:</p>
            </div>
            <div class="col-md-6">
                <p ng-model="user.fullname">{{user.fullname}}</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-md-offset-1 myinfoform">
        <form class="form-horizontal" ng-submit = "addNewTwit()">
            <div class="form-group"><br/>
                    <div class="input-group col-lg-10 col-md-offset-1">
                        <input ng-model="newTwit" type="text" placeholder="What's new?" id="newTwitText" class="form-control"/><span class="input-group-btn">
                        <button type="submit"  id="newTwit" class="btn btn-default">Go!</button></span>
                    </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-md-offset-1">
                    <table class="table col-lg-12">
                        <tr>
                            <th>Text</th>
                            <th>Date</th>
                        </tr>
                        <tr ng-repeat="twit in twits track by $index">
                            <td>
                                {{twit.text}}
                            </td>
                            <td>
                                {{twit.date | date : 'MM/dd/yyyy'}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>